<div class="score-display" [class.animate]="isAnimating">
    Skor: {{puan}}
</div>
<div class="count-display">
    {{counter.min}} : {{counter.sec}}
</div>
<div class="container-card">
    <mat-card class="example-card" [ngClass]="{ 'correct-answer': isCorrect }">
        <div class="card">
            <div class="queu">
                <div class="question-sira">Soru: {{ currentQuestion.id }}</div>
            </div>
            <div class="card-header">
                <p>{{ currentQuestion.question }}</p>
            </div>
            <div class="card-body">
                <mat-radio-group [(ngModel)]="selectedOptionId" (change)="onOptionSelected($event.value)">
                    <div *ngFor="let option of currentQuestion.option">
                        <mat-radio-button [value]="option.choice" class="example-radio-button">
                            {{ option.choice }}
                        </mat-radio-button>
                    </div>
                </mat-radio-group>
            </div>
            <div class="buttons">
                <button mat-raised-button color="primary" (click)="lastQuestion()"
                    [disabled]="currentQuestionIndex === 0">
                    Önceki Soru
                </button>
                <button mat-raised-button color="accent" (click)="nextQuestion()"
                    [disabled]="currentQuestionIndex === questions.length - 1">
                    Sonraki Soru
                </button>
            </div>
        </div>
    </mat-card>
</div>